<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Overwatch Macro Tool</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/b8a9c43f91.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="teams.css">
    <link rel="stylesheet" href="responsive.css">

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <script type="text/javascript" src="util.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JVT8NG03W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-6JVT8NG03W');
    </script>

    <script type="text/javascript" src="components/placeholder.js"></script>
    <script type="text/javascript" src="components/footer.js"></script>
    <script type="text/javascript" src="components/render.js"></script>

    <script type="text/javascript" src="descriptor.js"></script>
    <script type="text/javascript" src="descriptor_object.js"></script>
    <script type="text/javascript" src="descriptor_map.js"></script>
    <script type="text/javascript" src="role.js"></script>
    <script type="text/javascript" src="playstyle.js"></script>
    <script type="text/javascript" src="archetype.js"></script>
    <script type="text/javascript" src="attributes.js"></script>
    <script type="text/javascript" src="warning.js"></script>

    <script type="text/javascript" src="playbook/playbook.js"></script>
    <script type="text/javascript" src="playbook/win_conditions.js"></script>
    <script type="text/javascript" src="playbook/plays.js"></script>
    <script type="text/javascript" src="playbook/counterplays.js"></script>

    <script type="text/javascript" src="matchups/rule.js"></script>
    <script type="text/javascript" src="matchups/selector.js"></script>
    <script type="text/javascript" src="matchups/sustain.js"></script>
    <script type="text/javascript" src="matchups/range.js"></script>
    <script type="text/javascript" src="matchups/mobile.js"></script>

    <script type="text/javascript" src="teamcomposition.js"></script>

    <script type="text/javascript" src="pools/hero.js"></script>
    <script type="text/javascript" src="pools/interaction.js"></script>
    <script type="text/javascript" src="pools/pools.js"></script>
    <script type="text/javascript" src="pools/interactions_table.js"></script>

    <script type="text/javascript" src="pools/overwatch_1/heros.js"></script>
    <script type="text/javascript" src="pools/overwatch_1/compositions.js"></script>
    <script type="text/javascript" src="pools/overwatch_1/interactions.js"></script>
    <script type="text/javascript" src="pools/overwatch_1/warnings.js"></script>

    <script type="text/javascript" src="compare.js"></script>
  </head>
  <body class="bg-dim fw-light text-soft">

    <div class="container-fluid d-flex flex-column" id="teams">

      <div class="row d-flex flex-row justify-content-center bg-white">
        <div class="col col-xl-10">
          <h1 class="display-4 no-select">
            <strong>Overwatch Macro Tool</strong>
            <small class="sm-1 d-inline-block d-md-none"> {{ versionShort }} </small>
            <small class="sm-1 d-none d-md-inline-block"> {{ version }} </small>
          </h1>
        </div>
      </div>

      <div class="row d-flex flex-row justify-content-center align-items-stretch bg-white">

        <section v-for="team in teams" class="col col-xl-5 h-100">
          <h2 class="no-select">
            <strong>{{ team.data.compositionName ?? '...' }}</strong>
            <small class="sm-2 fst-italic text-muted">
              {{ team.name ?? '...' }}
            </small>
          </h2>

          <div class="d-flex flex-column mb-1">
            <div class="m-1">
              <div class="px-0">
                <div class="btn-group btn-group-sm roster shadow-sm" :class="{'bg-soft-gray': team.roster.length < 1}">
                  <button
                    type="button"
                    @click="team.remove(hero)"
                    class="btn btn-outline-secondary btn-remove"
                    v-for="hero in team.roster"
                  >
                    {{ hero.short }}
                  </button>
                  <button
                    v-if="team.roster.length"
                    type="button"
                    @click="team.reset()"
                    class="btn btn-danger btn-clear"> Clear </button>
                </div>
              </div>
            </div>

            <div class="m-1">
              <div class="progress focus-bar shadow-sm">
                <div
                  class="progress-bar bg-soft-gray"
                  role="progressbar"
                  :style="{width: `${100 * team.data.sustain}%`}"
                  :class="{'sustain': team.enable}"
                  :aria-valuenow="100 * team.data.sustain"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <span class="text-string px-2"> {{ team.enable && team.data.sustain > 0.1 ? "Sustain" : "" }}</span>
                </div>

                <div
                  class="progress-bar bg-soft-gray"
                  role="progressbar"
                  :style="{width: `${100 * team.data.range}%`}"
                  :class="{'range': team.enable}"
                  :aria-valuenow="100 * team.data.range"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                 <span class="text-string px-2"> {{ team.enable && team.data.range > 0.1  ? "Range" : "" }} </span>
                </div>

                <div
                  class="progress-bar bg-soft-gray"
                  role="progressbar"
                  :style="{width: `${100 * team.data.mobile}%`}"
                  :class="{'mobility': team.enable}"
                  :aria-valuenow="100 * team.data.mobile"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <span class="text-string px-2"> {{ team.enable && team.data.mobile > 0.1 ? "Mobility" : "" }} </span>
                </div>
              </div>
            </div>
          </div>

        </section>

      </div>

      <div class="row d-flex flex-row bg-white sticky-top px-0 mb-3">
        <div class="col px-0">
          <ul class="nav border-bottom shadow-sm mt-1 px-2" role="tablist">
            <li class="col-1 d-none d-xl-block"></li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-sm-center active"
                id="#heros_nav"
                data-bs-toggle="tab"
                data-bs-target="#heros"
                type="button"
                role="tab"
              >
                Heros
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-sm-center"
                id="#playstyle_nav"
                data-bs-toggle="tab"
                data-bs-target="#playstyle"
                type="button"
                role="tab"
              >
                Matchup
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-sm-center"
                id="#synergy_nav"
                data-bs-toggle="tab"
                data-bs-target="#synergy"
                type="button"
                role="tab"
              >
                Synergy
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link text-sm-center"
                id="#stats_nav"
                data-bs-toggle="tab"
                data-bs-target="#stats"
                type="button"
                role="tab"
              >
                Stats
              </button>
            </li>
            <li class="col-1 d-none d-xl-block"></li>
          </ul>
        </div>
      </div>

      <div class="row d-flex vh flex-row x-scroll-box py-1 py-sm-2 px-0">

        <div class="tab-content px-0">
          <div
            class="tab-pane active"
            id="heros"
            role="tabpanel"
          >
            <div class="d-flex flex-row justify-content-center-sm align-items-start teams">
              <section v-for="team in teams" class="col-10 col-sm-6 col-xl-5 px-1 px-md-3 team">
                <div class="card shadow h-100">
                  <div class="card-body">
                    <div>
                      <h6 class="fst-italic"><label :for="team.id+' name'">Name</label></h6>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" v-model="team.name" :name="team.id+' name'">
                      </div>
                    </div>

                    <hr>

                    <div v-for="(heros, role) in datapool.roles">
                      <h5 class="fs-6 fst-italic no-select"> {{ role }} </h5>
                      <div class="px-0 px-md-3">
                        <button
                          type="button"
                          @click="team.toggle(hero)"
                          class="btn btn-sm m-1"
                          v-for="hero in heros"
                          :style="team.heroButtonStyles[hero.id]"
                        > {{ hero.short }} </button>
                      </div>
                    </div>

                    <hr>

                    <div v-for="(teamCompositionSet, name) in datapool.compositionSets">
                      <h5 class="fs-6 fst-italic no-select"> {{ name }} </h5>
                      <div class="px-0 px-md-3">
                        <button
                          type="button"
                          @click="team.preset(teamcomp)"
                          class="btn btn-sm btn-secondary m-1"
                          v-for="teamcomp in teamCompositionSet"
                        > {{ teamcomp.full }} </button>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
            </div>
          </div>

          <div
            class="tab-pane"
            id="playstyle"
            role="tabpanel"
          >

            <placeholder text="Add heros to both teams to see playstyle suggestions." v-if="!teams[0].enable || !teams[1].enable"></placeholder>

            <div class="d-flex flex-row justify-content-center-sm align-items-start teams" v-else>
              <section v-for="team in teams" class="col-10 col-sm-6 col-xl-5 px-1 px-md-3 team">
                <div class="card shadow h-100">

                  <div class="card-header">
                    <h4 class="no-select">
                      <small class="fs-6 fst-italic fw-lighter">
                        Prefers
                      </small>
                      <strong> {{ team.matchupRole }} </strong>
                      <small class="fs-6 fst-italic fw-lighter">
                        against {{ team.enemyComp }}
                      </small>
                    </h4>
                  </div>

                  <div class="accordion accordion-flush" :id="`plays-t${team.id}`">

                    <template v-for="(rules, group) in team.playstyle"><template v-for="rule in rules">
                      <div class="accordion-item">
                        <div class="accordion-header"
                          :id="`header-r${rule.id}-${team.id}`"
                        >
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            :data-bs-target="`#r${rule.id}-${team.id}`"
                            aria-expanded="true"
                            :aria-controls="`#r${rule.id}-${team.id}`"
                          >
                            <div class="d-flex flex-column">
                              <h6>
                                <strong class="text-primary"> {{ rule.name }} </strong>
                                <small> ({{ group }}) </small>
                              </h6>
                              <span class="fw-lighter"> {{ rule.description }} </span>
                            </div>
                          </button>
                        </div>
                        <div
                          :id="`r${rule.id}-${team.id}`"
                          class="accordion-collapse collapse"
                          :aria-labelledby="`#plays-t${team.id}`"
                          :data-bs-parent="`#plays-t${team.id}`"
                        >
                          <div class="accordion-body">
                            <ul class="mb-0">
                              <li v-for="detail in rule.details"> {{ detail }} </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </template></template>

                  </div>

                  <div class="card-footer h-100"></div>

                </div>
              </section>
            </div>

          </div>

          <div
            class="tab-pane"
            id="synergy"
            role="tabpanel"
          >

            <placeholder text="Add heros to a team to see hero synergy." v-if="!teams[0].enable && !teams[1].enable"></placeholder>

            <div class="d-flex flex-row justify-content-center-sm align-items-start teams">
              <section v-for="team in teams" class="col-10 col-sm-6 col-xl-5 px-1 px-md-3 team"  v-if="team.enable">

                <template v-for="(bin, name) in team.data.interactionBins">
                  <div class="card shadow mb-3" v-if="team.data.interactions.length">
                    <div class="card-header">
                      <em>{{ name }}</em>
                    </div>
                    <ul class="list-group list-group-flush slim-bullets">
                      <li class="list-group-item fw-lighter" v-for="interaction in bin"> {{ interaction.description }} </li>
                    </ul>
                    <div class="card-footer"></div>
                  </div>
                </template>

                <template v-for="warning in datapool.warnings">
                  <div class="card text-white bg-danger shadow mb-3" v-if="warning.test(team.data)">
                    <div class="card-header">
                      <em> {{ warning.name }} </em>
                    </div>
                    <div class="card-body">
                      <rendercontent :elements="warning.getDetails(team.data)"></rendercontent>
                    </div>
                  </div>
                </template>

              </section>
            </div>

          </div>

          <div
            class="tab-pane"
            id="stats"
            role="tabpanel"
          >

            <placeholder text="Add heros to a team to see team statistics." v-if="!teams[0].enable && !teams[1].enable"></placeholder>

            <div class="d-flex flex-row justify-content-center-sm teams">
              <section v-for="team in teams" class="col-10 col-sm-6 col-xl-5 px-1 px-md-3 team"  v-if="team.enable">
                <div class="card shadow h-100">
                  <div class="card-header">
                    <h4><em>Statisics</em></h4>
                  </div>
                  <div class="card-body mt-2">
                    <template v-for="stat in team.stats">
                      <h6 class="text-muted fst-italic">{{ stat.name }}</h6>
                      <p>
                        <div class="progress normal-bar">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            :style="{width: `${100 * stat.value}%`}"
                            :aria-valuenow="100 * stat.value"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </p>
                    </template>
                  </div>
                  <div class="card-footer h-100"></div>
                </div>
              </section>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div id="common-footer"> <footer-content></footer-content> </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="version.js"></script>
    <script type="text/javascript" src="teamvue.js"></script>
    <script type="text/javascript" src="common.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
