<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Overwatch Macro Tool</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <script type="text/javascript" src="descriptor.js"></script>
    <script type="text/javascript" src="role.js"></script>
    <script type="text/javascript" src="vulnerability.js"></script>
    <script type="text/javascript" src="strength.js"></script>
    <script type="text/javascript" src="playstyle.js"></script>
    <script type="text/javascript" src="archetype.js"></script>
    <script type="text/javascript" src="teamcomposition.js"></script>
    <script type="text/javascript" src="attributes.js"></script>
    <script type="text/javascript" src="pool.js"></script>
    <script type="text/javascript" src="vulnerabilities.js"></script>
    <script type="text/javascript" src="strengths.js"></script>
    <script type="text/javascript" src="compositions.js"></script>
    <script type="text/javascript" src="compare.js"></script>
  </head>
  <body>
    <div class="container-xxl"  id="teams">

      <div class="row">
        <h1 class="display-4">Overwatch Macro Tool</h1>
      </div>

      <div class="row">
        <section v-for="team in teams" class="col">
          <h1>
            <strong> {{ team.data.composition }} </strong>
            <small style="font-size: 0.5em;" class="text-weak font-italic">
              {{ team.name }}
            </small>
          </h1>

          <div class="container">
            <div class="hero-roster">
              <button
                type="button"
                @click="team.remove(hero)"
                class="btn btn-secondary m-1"
                v-for="hero in team.roster"
              >
                {{ hero.name.short }}
              </button>
              <button
                type="button"
                @click="team.reset()"
                class="btn btn-danger m-1"> Clear </button>
            </div>
          </div>
        </section>
      </div>

      <div class="row">
        <section v-for="team in teams" class="col">
          <div>
            <div class="progress focus-bar">
              <div
                class="progress-bar sustain"
                role="progressbar"
                :style="{width: `${100 * team.data.sustain}%`}"
                :aria-valuenow="100 * team.data.sustain"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ team.enable && team.data.sustain>0.05 ? "Sustain" : "" }}
              </div>
              <div
                class="progress-bar range"
                role="progressbar"
                :style="{width: `${100 * team.data.range}%`}"
                :aria-valuenow="100 * team.data.range"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                  {{ team.enable && team.data.range>0.05 ? "Range" : "" }}
              </div>
              <div
                class="progress-bar mobility"
                role="progressbar"
                :style="{width: `${100 * team.data.mobile}%`}"
                :aria-valuenow="100 * team.data.mobile"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ team.enable && team.data.mobile>0.05 ? "Mobility" : "" }}
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="row">
        <section v-for="team in teams" class="col">
          <h3>
            <small style="font-size: 0.5em;" class="text-weak font-italic">
              Prefers
            </small>
            <strong> {{ team.matchupRole }} </strong>
            <small style="font-size: 0.5em;" class="text-weak font-italic">
              against {{ team.enemyComp }}
            </small>
          </h3>
          <div class="container list-section">
            <ul class="list-unstyled">
              <li v-for="play in team.playstyle">
                <span class="hover-tooltip hover-parent" :data-text="play.details">
                  <em> {{play.name}} </em>  ⓘ
                  <small class="text-muted text-italic hover">
                    {{ play.rule }}
                  </small>
                </span>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section v-for="team in teams" class="col">
          <div class="row">

            <div class="col">
              <h6>Vulnerabilities</h6>
              <div class="container list-section text-danger">
                <ul class="list-unstyled">
                  <li v-for="vulnerability in team.data.vulnerabilities">
                    <span class="hover-tooltip" :data-text="vulnerability.details">
                      <em> {{vulnerability.full}} </em> ⓘ
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col">
              <h6>Strengths</h6>
              <div class="container list-section text-success">
                <ul class="list-unstyled">
                  <li v-for="strength in team.data.strengths">
                    <span class="hover-tooltip" :data-text="strength.details">
                      <em> {{strength.full}} </em> ⓘ
                    </span>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </section>
      </div>

      <div class="row">
      </div>

      <div class="row">
        <section v-for="team in teams" class="col">
          <div v-for="(heros, role) in roles">
            <h5 class="text-weak font-italic"> {{ role }} </h5>
            <div class="container">
              <button
                type="button"
                @click="team.toggle(hero)"
                class="btn btn-primary m-1"
                v-for="hero in heros"
              > {{ hero.name.short }} </button>
            </div>
          </div>
        </section>
      </div>

      <div class="row" v-for="(teamCompositionSet, name) in teamCompositionSets">
        <section v-for="team in teams" class="col">
          <h5> {{ name }} </h5>
          <div class="container">
            <button
              type="button"
              @click="team.preset(teamcomp)"
              class="btn-sm btn-secondary m-1"
              v-for="teamcomp in teamCompositionSet">{{ teamcomp.full }}</button>
          </div>
        </section>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
