/* evil, fix later */
button {
  transform: skewX(-7.5deg);
}

.no-select {
  user-select: none;
}

.hero-roster {
  min-height: 3em;
}

.list-section {
  min-height: 3em;
}

.sustain {
  background-color: rgb(52, 180, 111);
}

.range {
  background-color: rgb(104, 129, 144);
}

.mobility {
  background-color: rgb(89, 127, 210);
}

.focus-bar {
  height: 3em;
  margin: 2em;
}

.normal-bar {
  height: 2em;
  margin: 2em;
}

.progress {
  user-select: none;
}

.hover-tooltip {
  position: relative;
}

.hover-tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */

  /* basic styles */
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  display: none; /* hide by default */

  z-index: 1;
}

.hover-tooltip:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;

  display: none;
}

.hover-tooltip:hover:before, .hover-tooltip:hover:after  {
  display: block;
}

.hover-parent {}
.hover-parent .hover {
  display: none;
}
.hover-parent:hover .hover {
  display: inherit;
}
