strong {
  color: var(--bs-dark);
  font-weight: bolder;
}

.bg-soft-gray {
  background-color: #e9ecef;
}

small {
  color: var(--bs-gray);
}

.text-soft {
  color: var(--bs-gray);
}

.no-select {
  user-select: none;
}

.bg-dim {
  background-color: #fcfcfc;
}

.sustain {
  background-color: rgb(52, 180, 111);
}

.range {
  background-color: rgb(104, 129, 144);
}

.mobility {
  background-color: rgb(89, 127, 210);
}

.focus-bar {
  height: 2rem;
}

.progress {
  user-select: none;
}

.progress-bar {
  transition: background-color 0.125s, width 0.125s ease;
  font-weight: normal;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.roster {
  height: 2rem;

  width: 100%;
  min-height: 32px;

  border-radius: 0.25rem;

  transition: background-color 0.125s ease;
}

.roster .btn-remove:hover {
  border-color: var(--bs-danger);
  background-color: var(--bs-danger);
}

.roster .btn-clear {
  max-width: 64px;
}

.nav .nav-item {
  background-color: inherit;
}

.nav .nav-link.active {
  font-weight: 600;
  background-color: inherit;

  color: var(--vs-black) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid var(--bs-primary);
}

.nav-link {
  color: rgb(110, 110, 110);
  font-weight: 500;
}

.nav-link:hover {
  color: var(--bs-primary) !important;
}

.card {
  width: 100%;
  min-width: 100%;
  border-radius: 8px;
}

.mx-3-lg {
}

.sm-1 {
  font-size: 1rem;
}

.sm-2 {
  font-size: 1.25rem;
}

.sm-nopad-x {

}

.text-string {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip;
  text-overflow: ellipsis;
  text-overflow: ellipsis ""; 
}

.vh {
  min-height: 100vh;
}

.vw {
  min-width: 100vw;
}

.vh-half {
  min-height: 50vh;
}

ul {
  list-style-type: '–';
  list-style-position: outside;
}

ul {
  padding-left: 2em;
}

ul li {
  padding-left: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

.btn.btn-sm {
  border-radius: 1;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.btn.btn-sm:active {
  transform: translate(0px, 1px);
}

@media (hover: hover) {
  .btn.btn-sm:hover {
    transform: translate(0px, -1px);
  }
}

@media (pointer: fine) {
  body {
    overflow: scroll;
  }
}

@media (prefers-reduced-motion) {
  .btn.btn-sm {
  }

  .btn.btn-sm:hover {
    transform: none;
  }
  
  .btn.btn-sm:active {
    transform: none;
  }

  .progress-bar {
    transition: width 0.01s ease;
  }
}