.skew {
  transform: skewX(-7.5deg);
}

.no-select {
  user-select: none;
}

.list-section-height {
  min-height: 450px;
}

.list-section-scroll {
  max-height: 360px;
  overflow: auto;
  overflow-y: auto;
}

.sustain {
  background-color: rgb(52, 180, 111);
}

.range {
  background-color: rgb(104, 129, 144);
}

.mobility {
  background-color: rgb(89, 127, 210);
}

.focus-bar {
  height: 3em;
  margin: 2em;
}

.progress {
  user-select: none;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.roster {
  width: 100%;
}

.roster .btn-remove:hover {
  border-color: var(--bs-danger);
  background-color: var(--bs-danger);
}

.roster .btn-clear {
  max-width: 64px;
}
