.x-scroll-box {
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.x-scroll-box::-webkit-scrollbar {
    display: none;
}

.teams::before,
.teams::after {
    content: '';
    display: inline-block;
    width: 10px;
    min-width: 10px;
    height: 1px;
}